body {
  background-color: #000;
}

.jumbotron {
  background-image: url("../burgertile.jpg");
}
.jumbotron h1, h2, p {
  background: #FFF;
}

li {
    padding: 5px;
    margin: 5px;
    background: #ebab58;
  }
  
label {
    font-weight: bold;
  }
  
.create-form {
    padding: 5px;
    margin: 5px;
  }


  
.form-group {
    margin-bottom: 5px;
  }
  